body {
	display:flex;
	flex-direction:column;
	height:100vh;
	margin:0;
	font-family:sans-serif;
	font-size:36px;
	background-color: #eeeff1;
	color: #1c2b60;
	overflow:hidden;
}
body * {
	margin:auto auto;
	text-align:center;
}
#answer {
	font-size:2em;
}
#teams li {
	font-size:0.8em;
	text-align:left;
}
#teams .emphasis {
	font-weight:bold;
}
#logos {
	width:100%;
	text-align:left;
	position:absolute;
	bottom:0px;
	left:0px;
	margin:12.5px;
}
#logos * {
	height:125px;
	width:auto;
}
